    /* Pour ce qui est des propriétés du type perspective, transform, transition ou encore backface et selon les navigateurs Internet, il faut rajouter les préfixes correspondants: -webkit, -moz-, ms- ou -o*/

	.carteSystem {
        position: relative;
        display: inline-block;
    }
    div[class^="carte"] {
        height: 300px;
        width: 200px;
        perspective-origin: center bottom;
        position: relative;
    }

	
    div[class^="carte"] [class^="face"] {
        /* Dans ce cas, il faut laisser un espace entre les deux sélecteurs d'attributs ([class^="card"] et [class^="face"]) */
        /*ATTENTION: L'option TidyUp de JsFiddle va automatiquement enlever l'espace entre les deux sélecteurs d'attributs*/
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition-duration: 0.5s;
        transition-property: transform;
        transition-timing-function: ease-out;
    }
	p{
		height: 300px;
        width: 200px;
	}

    div[class^="carte"] .face-dos {
		height:20px;
        z-index: 5;
    }
    div[class^="carte"] .face-retourne {
		height: 300px;
        width: 200px;
        z-index: 0;
        transform: rotateY(-180deg);
    }
    div[class^="carte"].rotated .face-dos {
        z-index: 5;
        transform: rotateY(180deg);
    }
    div[class^="carte"].rotated .face-retourne {
        z-index: 10;
        transform: rotateY(0deg);
    }

img{
	width:150px;
	height:auto;
}