html{
	background-color:black;
}

body {
	padding-top: 0px;/* mettre 10px si la barre de navigation est enlevée*/
	background-color: grey/*Ghostwhite*/;
}

/* Les titres et paragraphes*/
h1{
	font-family:Chilanka, serif, sans-serif;/*Police d'écriture*/
	font-size:3.0rem;/*Taille police*/
	color:blue;
}

p{
	font-size:1.2rem;
	font-family:;
}



img{
	width:150px;
	height:auto;
}




[id*="card"]{
	margin:5px 5px 5px 5px;
	backface-visibility: hidden;
    transform-style: preserve-3d;
	transition-duration: 0.5s;
	transition-property: transform;
	transition-timing-function: ease-out;
}

div[class^="card"].rotated{

        transform: rotateY(180deg);
}

#card-dos1{
	display:inline;
}

#revele1{
	display:none;
}